[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
a2wsgi = "*"
webob = "*"
pytest = "*"
parse = "*"
requests = "*"
requests-wsgi-adapter = "*"

[dev-packages]
flake8 = "*"
requests = "*"
requests-wsgi-adapter = "*"
pytest-cov = "*"
twine = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocstrings = "*"
mkdocstrings-python = "*"
mkdocs-mermaid2-plugin = "*"
black = "*"

[requires]
python_version = "3.11"
